*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Inter, Arial, Helvetica, sans-serif;
}

.container{
  padding: 20px;
}

header{
  height: 80px;
  background-color: beige;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  box-shadow: 0 2px 2px -2px gray;
}

header > img{
  height: 50px;
}

header > h1{
  font-weight: 400;
}

article{
  display: flex;
  gap: 20px;
  align-items: center;
}
article > img{
  height: 200px;
}

div > h1{
  margin-bottom: 8px;
}

div > p{
  margin-bottom: 4px;
}

button{
  margin: 0 4px 0 0;
  padding: 0 4px 0 4px;
  font-weight: bold;
}